/data
/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/fonts
/public/mix-manifest.json
/public/*.js
/public/*.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
