// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import '~nprogress/nprogress';
@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/scss/materialdesignicons';
